* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  margin: 5% 20%;
}

.topo {
  background-color: #adadad;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  border-bottom: 2px solid #000000;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-left: 20px;
  color: #ffffff;
}
.sair {
  float: right;
  color: #fff;
  margin-right: 20px;
  margin-top: -25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

p {
  font-size: 20px;
  margin-top: 18px;
  position: absolute;
}
img {
  width: 12px;
  filter: invert(1);
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}


table td, table th {
  padding: 8px;
  padding: 5px 5px;

}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #646464;
  color: white;
}

.pagination {
  margin-top: 22px;
  text-align: center;
}
span {
  background-color: #69696982;
  color: #f1f1f1;
  font-size: 16px;
  margin: 2px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10%;
}

a {
  color: #000;
  text-decoration: none;
  font-family: "Droid Sans";
}


@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    margin: 15% 0%;
  }

  table {
    font-size: 25px;
  }
  table td, table th {
    padding: 28px;
  }

}