<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png"  href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="assets/css/form_login.css">
    </head>
    <body>
        <section class="form">
            <form id='credenciais' action="/" method="post">

                <div class="container">
                    <H2>CREDENCIAIS</H2>
                    <label for="username">Username</label>
                    <input id="user"type="text" placeholder="Enter Username" name="username" required>
                    <label for="password">Password</label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <button type="submit">Login</button>
                </div>
            </form>
        </section>
        <footer>
            <script>
                let bearer;

                let form = document.getElementById('credenciais');
                if (typeof form !== 'null') {
                    form.onsubmit = async function (event) {
                        event.preventDefault();
                        let formData = new FormData(form);
                        let options = {
                            method: 'POST',
                            mode: 'cors',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify(Object.fromEntries(formData))
                        }
                        const response = await fetch('{{ path('app_admin_token') }}', options);
                        const json = await response.json();
                        if (response.status === 200) {
                            window.location.href = "/order";
                            return json;
                        } else {
                            alert("credenciais não conferem");
                            return json;
                        }
                    }
                }
            </script>
        </footer>
    </body>

</html>
